
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IEEE ITSS DELHI</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    
  
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans|Roboto&display=swap" rel="stylesheet">
    <style>
      .navbar-inverse .navbar-nav>li>a{
        color:white;
      }
    </style>
</head>
<body>

  
 <div style="margin-bottom: 0;" class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
    <a href="#" class="navbar-brand">Delhi Site</a>

    <button class="navbar-toggle" data-toggle="collapse" data-target=".navlinks">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      
    </button>

    <div class="collapse navbar-collapse navlinks">
      <ul class="nav navbar-nav navbar-right" style="font-family: 'Noto Sans', sans-serif;">
        <li><a href="/">Home</a></li>
        <li><a href="/comittee">Comittee</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <a href="https://www.ieee-itss.org/membership" style="height: fit-content;"class="btn btn-lg btn-success">Join ITSS</a>
      </ul>
      <div class="nav navbar-nav navbar-right">
        
      </div>
      

      </ul>
    </div>

   </div>
 </div>
  
  

 <div class="jumbotron" style="display: flex; max-height: 20em; background-size:cover;">
  <div class="container">
    <div class="row" style="font-family: 'Noto Sans', sans-serif; font-weight: 500; font-size: 8rem;">
      <div style="padding:0; background-size: cover;" class="col-xs-12 col-sm-3 col-md-2">
        <img  style=" margin:2rem 0 0 .3rem;height:200px ;width:200px; position: relative;"  src="https://static.wixstatic.com/media/eaf218_13f81c6c7ef041ab9445304dd26fad3b~mv2.png">
      </div>
      <div class="col-sx-12 col-sm-9 col-md-10 ">
        <h1 style="margin:.5em 0 0 0;">IEEE ITSS DELHI CHAPTER</h1>
      </div>
     
      
    </div>
  </div>
</div>



  <!---->