<%- include ('partials/header') %>
<h1 style="text-align:center   ;font-family: 'Noto Sans', sans-serif;">Events</h1>

<div class="container">
    <div style="margin-left: 40%" class="row">
        <div >
            <a style="margin-bottom: 1.5rem;"class="btn btn-lg btn-success"  href="/upevents">UPCOMING EVENTS</a>

        </div >
        <div>
            <a class="btn btn-lg btn-primary"  href="/pastevents">PAST  EVENTS</a>
        </div>
        

      
    </div>

</div>
    

<%- include ('partials/footer') %>