<%- include ('partials/header') %>

<style>




</style>

<div class="row text-justify mx-0 " style="text-align: left;">
  <div class="col-xs-12 col-sm-9">
    <div  style="margin:0 6rem 0 6rem;"class="col-8 ">
      <div style="font-family: 'Noto Sans', sans-serif; font-weight: 500; font-size: 2rem;"class="about box-outline999 mt-3 filler ">
        <h1 style="font-family: 'Noto Sans', sans-serif; font-weight: 500; font-size: 6rem;"class="text-center">ABOUT IEEE</h1>
        <hr style="box-shadow: -0.2rem -0.2rem 0.1rem 0.1rem ; width:40%">
        The IEEE is the world's biggest expert affiliation propelling development and innovative greatness to serve mankind. There are as of now more than 430,000 IEEE individuals in excess of 160 nations. The IEEE distributes 33% of the world's specialized writing in electrical designing, software engineering and hardware. 
  
        IEEE, articulated "Eye-triple-E," represents the Institute of Electrical and Electronics Engineers. IEEE's underlying foundations return to 1884 when power started to turn into a significant impact in the public eye. 
      </div>
  
      <div style="font-family: 'Noto Sans', sans-serif; font-weight: 500; font-size: 2rem;" class="about box-outline999 mt-3 filler">
          <br>
         <h3 style="font-family: 'Noto Sans', sans-serif; font-weight: 500; font-size: 6rem;" class="text-center">Intelligent Transportation Systems Society (ITSS)</h3>
         <hr style="box-shadow: -0.2rem -0.2rem 0.1rem 0.1rem ; width:40%">
  
  The IEEE Intelligent Transportation Systems Society (ITSS) propels the hypothetical, trial, and operational parts of Electrical Engineering and Information Technologies as applied to Intelligent Transportation Systems (ITS). IEEE ITSS mission is to propel the hypothetical, trial, and operational parts of Electrical Engineering and Information Technologies as applied to ITS, characterized as those frameworks using synergistic tech and frameworks building ideas to create and improve transportation frameworks of various sorts. 
  
  <br><br>The IEEE indian ITSS Chapter was built up in April 2019 to turn into the gathering spot of decision for the canny transportation frameworks network in india. The part will join these individuals and advance canny transportation frameworks in the nation. 
  
  <br><br>The goals of the IEEE ITSS indian part are: To urge specialists to participate; To build commitments in the zone of keen transportation frameworks; and To scatter most recent ITS advancements in india. 
  
  <br><br>These destinations can be accomplished through different exercises including courses, addresses, workshops, gatherings, and different occasions. You are free to go to any of our gatherings, regardless of whether you are not a present individual from the IEEE. We do, be that as it may, urge you to Join IEEE and Join ITSS. 
  
  On the off chance that you are intrigued to join the IEEE ITSS indian Chapter, kindly don't spare a moment to get in touch with us utilizing the Contact Us button.
      </div>
      </div>
  
      
    </div>
    <div class=" col-xs-0 col-sm-3"></div>


  </div>
    


<%- include ('partials/footer') %>
